#bigDiv{
    padding: -65px;
    background-color: dimgray;
}

h1 {
    color: whitesmoke;
    font-family: "Arial", Arial, sans-serif;
    font-size: 76px;
    margin: 15px,0px,0px,0px;
}

p {
    color: whitesmoke;
    font-family: "Arial", Arial, sans-serif;
}

button{
    font-family: "Arial", Arial, sans-serif;
    font-size: 24px;
    border: none;
    color: white;
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}
button:focus {
    outline: none;
}

input{
    font-family: "Arial", Arial, sans-serif;
    font-size: 24px;
    border-radius: 5px; 
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px;
    margin: 10px;
}
input:focus {
    outline: none;
}